* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: dodgerblue;
    font-family: sans-serif;
}

h2{
    margin-top: 50px;
    color: white;
    text-align: center;
    font-size: 34px;
}

#container {
    background-color: white;
    color: #0081ff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: 37px;
    padding: 73px 0px;
    font-size: 27px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow:1px 1px 6px 2px #b3b3b3;
    line-height: 42px;
    word-spacing: 3px;
}